// Aquí irán importados con '@use' todas las secciones, divididas por 'Home' y por 'Post'

// HOME
 @use './home/navbar';
// @use './home/aside-left';
 @use './home/main';
// @use './home/aside-right';
@use './home/footer';


// POST
// @use './home/post-aside-left';
@use './home/post';
@use './home/post-aside-right';

/* Main Structure by Gerardo"*/

