/* // * {
  //     padding: 0;
  //     margin: 0;
  //     box-sizing: border-box; 
  // } */
  
  .aside__left{
      background-color: rgb(240, 239, 239);
  }
  .aside__right {
      background-color: rgb(240, 239, 239);
  
  }
  
  .aside__right--card {
      width: 255px !important;
      margin-left: auto;  
      margin-right: auto; 
      margin-top: 20px;
      background-color: white;
  }
  
  .right--card-option {
      border-bottom: .5px solid gray;
  }
  .page__container {
      height: auto;
  
  }
  .aside__right--card {
      height: 450px;
      width: auto; 
  }
  
  .header--nav li{
      font-size: 18px;
      cursor: pointer;
      
  }
  
  .header--nav > :hover {
      color: rgb(21, 121, 202);
      background-color: white; 
      border-radius: 5px;
  }
  
  
  
  .container__post {
      background-color: rgb(240, 239, 239)
  }
  
  .container__card--post-test {
      margin-bottom: 10px;
      background-color: #ffffff;
  }
  
  .post-test--title {
      margin-left: 37px;
  }
  
  .hashtags--list {
      margin-left: 31px;
      font-weight: 350;
      font-size: 15px;
      color: rgb(80, 80, 80);
  }

  .hashtags--list li{
    height: 30px;
    padding-right: 6px;
    padding-left: 6px;
}
  
  .hashtags--list  span {
      color: rgb(44, 212, 44);
  }
  
  .hashtags--list :nth-child(-n+2):hover:not(span) {
      background-color: rgb(209, 255, 190);
      border: 1px solid rgb(180, 248, 150);
      border-radius: 6px;
      
  }
  
  .hashtags--list :nth-child(n+3):hover:not(span) {
      background-color: rgb(200, 200, 200);
      border: 1px solid rgb(173, 173, 173);
      border-radius: 6px;
  }
  
  
  .post-test--post-actions {
      margin-left: 29px;
      align-items: center;
      margin-bottom: 10px;
      font-weight: 349;
      font-size: 16px;
      color: rgb(78, 78, 78);
  }
  
  .profile-icon--container-image {
      height: 32px; 
      width: 32px; 
  }
  
  .user-info--username {
      margin: 0;
  }
  
  .user-info--data {
      line-height: 100%;
  }

.dropbtn {
    font-size: 16px;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  } 

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 310px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 7;
  }

  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    margin-left: 10px;
  }


  .dropdown-content--user-data {
    position: relative; 
    bottom: 20px;
    left: 18px;
  }

  .user-data--button {
    margin-left: 18px;
    width: 300px;
    margin-right: 18px;
  }

.user-data--tagline-container {
  width: 300px;
  margin-left: 18px;
}

  .user-data--tagline {
    margin-left: 0px;
    margin-top: 10px;
    color: grey;
  }

  .user-data--profile-name:hover {
    color: blue;
  }

  .user-data--details {
    margin-left: 18px;
  }

  .user-data--details b {
    color: rgb(99, 99, 99); 
    font-size: small;
  }

  .link-post {
      text-decoration: none;
      color: black;
  }

  .user-data--profile-icon img{
    background-color: rgb(108, 108, 108);
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }
.user-data--profile-name-container {
  display: flex;
  align-items: flex-end;
}

.user-data--profile-name {
  font-size: x-large;
  margin-bottom: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
  }
  
.dropdown-content--top-color-design {
  height: 36px;
  width: auto; 
  background-color: navy;
}
  #icon-number--1 {
      position: relative;
      z-index: 5;
  }
  
  #icon-number--2  {
      position: relative;
      z-index: 4;
      right: 7px;
  
  }
  
  #icon-number--3  {
      position: relative;
      z-index: 3;
      right: 14px;
  
  }
  
  #icon-number--4  {
      position: relative;
      z-index: 2;
      right: 21px;
  
  }
  
  #icon-number--5  {
      position: relative;
      z-index: 1;
      right: 28px;
  
  }
  
  .post-actions--icon-row {
    margin-left: 8px;
    height: 35px;
    width: 100px;
  }

  .post-actions--icon-row img {
      height: 24px;
      background-color: rgb(232, 232, 232);
      border-radius: 50%;
      border: 1px solid rgb(220, 220, 220);
  }
  
  .post-actions--reactions-text {
      margin-right: 8px;
  }
  
  .post-actions--comment-icon {
      height: 24px;
      position: relative; 
      right: 15px;
  }
  
.post-actions--comment-number {
      position: relative;
      right: 0px;
      height: 35px;
      width: 132px;
  }

.post-actions--comment-number img {
  margin-left: 8px;
} 
  

.post-actions--comment-number:hover {
      background-color: #e4e4e4;
      cursor: pointer;
      border-radius: 6px;

  }

.hover-reaction-test:hover {
  background-color: #e4e4e4;
}

.hover-reaction-test {
  border-radius: 6px;
}


.post-actions--bookmark-container {
  height: 40px;
  width: 40px;
  justify-content: center;
}

.post-actions--bookmark-icon {
      height: 24px;

  }
  


.post-actions--bookmark-container:hover {
      background-color: #e4e4e4;
      cursor: pointer;
      border-radius: 6px;
  }
  
.post-actions--read-duration {
      margin-left: auto;
  
  }
     

  @media only screen and (max-width:576px) {
      .post-actions--reactions-text {
          display: none;
      }
      .post-actions--comment-number {
          display: none;
      }
  }
  
  @media only screen and (max-width:355px) {
      .post-actions--read-duration {
          display: none;
      }
  
      .post-actions--bookmark-container {
          margin-left: auto;
      }
  }
  
  @media only screen and (max-width:768px) {
      .post-test--title {
          margin-left: 0px;
      }
      .hashtags--list {
          margin-left: 0px;
      }
  
      .post-test--post-actions {
          margin-left: 0px;
      }
  }
  
  @media only screen and (min-width:992px) {
      .post-actions--read-duration {
          display: none;
      }
      .post-actions--bookmark-container {
          margin-left: auto;
          margin-right: 10px;
      }
  }
  
  @media only screen and (min-width:1124px) {
      .post-actions--read-duration {
          display: block;
          margin-left: auto;
      }
      .post-actions--bookmark-container {
          margin-left: 0;
          margin-right: 0;
      }
  }
  
  
  @media only screen and (max-width:992px) {
      .aside__right--card {
          display: none;
      }
  } 


  
  /* // finish main section by gerardo */