// * {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box; 
// }

.footer {
    background-color: rgb(229, 229, 229);
}

.footer__container {
    background-color: rgb(229, 229, 229);
}

.footer__description {
    text-align: center;
    background-color: rgb(229, 229, 229);

}

.footer__credits {
    text-align: center;
    background-color: rgb(229, 229, 229);
}


.header__container {
    display: flex;
    justify-content: space-between;
}

.site-logo__img {
    width: 50px;
    height: 40px;
}

.footer {
    background-color: #a0a0a0;
}

.about1 {
    width: 24px;
    height: 24px;
  }
  
  .navbar {
    background-color: white !important;
  }
  
  .contenedorsearch {
    width: 400px !important;
    height: 50px !important;
    margin-top: 8px;
    margin-left: 10px;
    display: none;
  }
  
  .container-nav {
    max-width: 1200px !important;
  }
  
  .hover-effect {
    transition: filter 0.3s ease;
  }
  .hover-effect:hover {
    filter: contrast(150%);
    filter: invert(60%) sepia(100%) saturate(2000%) hue-rotate(200deg); /* Aplica efecto de contraste en azul */
  }
  
  @media (min-width: 768px) {
    .contenedorsearch {
      display: flex;
    }
  }
  .aside__left {
    background-color: rgb(240, 239, 239);
  }
  
  .aside__right {
    background-color: rgb(240, 239, 239);
  }
  
  .aside__right--card {
    width: 255px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
  }
  
  .right--card-option {
    border-bottom: 0.5px solid gray;
  }
  
  .page__container {
    height: auto;
  }
  
  .aside__right--card {
    height: 450px;
    width: auto;
  }
  
  .header--nav li {
    font-size: 18px;
    cursor: pointer;
  }
  
  .header--nav > :hover {
    color: rgb(21, 121, 202);
    background-color: white;
    border-radius: 5px;
  }
  
  .container__post {
    background-color: rgb(240, 239, 239);
  }
  
  .container__card--post-test {
    margin-bottom: 10px;
    background-color: #ffffff;
  }
  
  .post-test--title {
    margin-left: 37px;
  }
  
  .hashtags--list {
    margin-left: 37px;
  }
  
  .hashtags--list span {
    color: rgb(44, 212, 44);
  }
  
  .hashtags--list :nth-child(-n+2):hover:not(span) {
    background-color: rgb(209, 255, 190);
    border: 2px solid rgb(180, 248, 150);
  }
  
  .hashtags--list :nth-child(n+3):hover:not(span) {
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(173, 173, 173);
  }
  
  .post-test--post-actions {
    margin-left: 37px;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .profile-icon--container-image {
    height: 32px;
    width: 32px;
  }
  
  .user-info--username {
    margin: 0;
  }
  
  .user-info--data {
    line-height: 100%;
  }
  
  .link-post {
    text-decoration: none;
    color: black;
  }
  
  #icon-number--1 {
    position: relative;
    z-index: 5;
  }
  
  #icon-number--2 {
    position: relative;
    z-index: 4;
    right: 7px;
  }
  
  #icon-number--3 {
    position: relative;
    z-index: 3;
    right: 14px;
  }
  
  #icon-number--4 {
    position: relative;
    z-index: 2;
    right: 21px;
  }
  
  #icon-number--5 {
    position: relative;
    z-index: 1;
    right: 28px;
  }
  
  .post-actions--icon-row img {
    height: 24px;
    background-color: rgb(232, 232, 232);
    border-radius: 50%;
    border: 1px solid rgb(220, 220, 220);
  }
  
  .post-actions--reactions-text {
    position: relative;
    right: 30px;
  }
  
  .post-actions--reactions-text:hover {
    background-color: #c6c6c6;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .post-actions--comment-icon {
    height: 24px;
    position: relative;
    right: 15px;
  }
  
  .post-actions--comment-number {
    position: relative;
    right: 20px;
  }
  
  .post-actions--comment-number:hover {
    background-color: #c6c6c6;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .post-actions--bookmark-icon {
    height: 24px;
  }
  
  .post-actions--bookmark-icon:hover {
    background-color: #c6c6c6;
    cursor: pointer;
    color: rgb(103, 103, 248);
    border-radius: 3px;
  }
  
  .post-actions--read-duration {
    margin-left: auto;
  }
  
  @media only screen and (max-width: 576px) {
    .post-actions--reactions-text {
      display: none;
    }
    .post-actions--comment-number {
      display: none;
    }
  }
  @media only screen and (max-width: 355px) {
    .post-actions--read-duration {
      display: none;
    }
    .post-actions--bookmark-icon {
      margin-left: auto;
    }
  }
  @media only screen and (max-width: 768px) {
    .post-test--title {
      margin-left: 0px;
    }
    .hashtags--list {
      margin-left: 0px;
    }
    .post-test--post-actions {
      margin-left: 0px;
    }
  }
  @media only screen and (min-width: 992px) {
    .post-actions--read-duration {
      display: none;
    }
    .post-actions--bookmark-icon {
      margin-left: auto;
      margin-right: 10px;
    }
  }
  @media only screen and (min-width: 1124px) {
    .post-actions--read-duration {
      display: block;
    }
    .post-actions--bookmark-icon {
      margin-left: 0;
      margin-right: 0;
    }
  }
  @media only screen and (max-width: 992px) {
    .aside__right--card {
      display: none;
    }
  }
  .footer {
    background-color: rgb(229, 229, 229);
  }
  
  .footer__container {
    background-color: rgb(229, 229, 229);
  }
  
  .footer__description {
    text-align: center;
    background-color: rgb(229, 229, 229);
  }
  
  .footer__credits {
    text-align: center;
    background-color: rgb(229, 229, 229);
  }
  
  .header__container {
    display: flex;
    justify-content: space-between;
  }
  
  .site-logo__img {
    width: 50px;
    height: 40px;
  }
  
  .footer {
    background-color: #a0a0a0;
  }
  
  /* Main Structure by Gerardo"*//*# sourceMappingURL=styles.css.map */