.footer {
    background-color: rgb(229, 229, 229);
}

.footer__container {
    background-color: rgb(229, 229, 229);
}

.footer__description {
    text-align: center;
    background-color: rgb(229, 229, 229);

}

.footer__credits {
    text-align: center;
    background-color: rgb(229, 229, 229);
}


.header__container {
    display: flex;
    justify-content: space-between;
}

.site-logo__img {
    width: 50px;
    height: 40px;
}

.footer {
    background-color: #a0a0a0;
}