// Aquí irá el aside derecho

* {
    margin: 0;
    padding: 0;
}


.card-header {      
    height: 200px;
    background-color: rgb(57,59,64);
}

.list-group-item {
    span {
      font-size: 8px;
    }
  
    .card-link {
      font-size: 8px;
    }
  
    small {
      font-size: 8px;
    }
  }
  



.btn {
    background-color: rgb(55,66,204);
}

