.icons-post-leftaside {
    width: 17px;
    height: 17px;

    &__fill-red:hover {
        fill: red;
        background-color: rgba(255, 0, 0, 0.267);
        border: 1px solid red;
        border-radius: 50%;
    }

    &__fill-green:hover {
        fill: green;
        background-color: rgba(0, 128, 0, 0.267);
        border: 1px solid green;
        border-radius: 50%;
    }

    &__fill-purple:hover {
        fill: purple;
        background-color: rgba(128, 0, 128, 0.267);
        border: 1px solid purple;
        border-radius: 50%;
    }

}