// Aquí irá el aside derecho

* {
    margin: 0;
    padding: 0;
}

.img-thumbnail {
    
text-decoration:none;    
}

.card-header {

}


.card-header {
   
    height: 200px;
    background-color: rgb(57,59,64);
}


.card-body {
}

.btn {
    background-color: rgb(55,66,204);
}
