// Aquí irá el aside izquierdo

.sidebar-nav {
    list-style-type: none;
}

.profile-pic-bg {
    width: 40px;
    height: 40px;
}

.profile-pic-front {
    width: 24px;
    height: 24px;
}

.dropdown-font-size {
    font-size: 12px;
}

.dropdown-menu {
    width: 295px !important;
    height: 222px !important;
}

.dropdown-header--fontsize {
    font-size: 14px;
}

.dropdown-item--fontsize {
    font-size: 12px;
}